---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -readability-isolate-declaration,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-naming,
  -cppcoreguidelines-pro-type-member-init,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-include-cleaner,
  -bugprone-exception-escape,
  -readability-redundant-typename,
  -bugprone-unchecked-optional-access,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-use-anyofallof

WarningsAsErrors: ''
HeaderFilterRegex: 'include/.*|src/.*'
FormatStyle: file
...
